[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "agriutilities"]
	path = agriutilities
	url = https://github.com/apariciojohan/agriutilities
